
h1{
  color:green;
}

ul{
  list-style: none;

  padding-bottom: 20px;


}
li{
  display:inline;
  float:right;
  margin: 10px;
  font-size: 20px;
  color:white;

}

input{
  font-size: 20px;
  height: 30px;

}

button{
  background-color:orange;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:20px;
  border-radius:10px;
}
button:hover{
  font-size: 20px;
}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:green;
}
header{
  background-color:orange;
  padding-top: 20px;
  padding-bottom:20px;
}


/*classes styles*/
.name{
 float:left;
 margin-left: 2px;
 font-size: 30px;

}
.logpage{
 text-align: center;
 margin:100px;
}
.fn{
  border-top-left-radius:3px;
  border-top-right-radius: 3px;
  border-bottom:10px;
}
.ln{
  border-top:-1px;
  border-bottom:10px;
}
.em{
  border-top:-1px;
  border-bottom:10px;
}
.p{

    border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;

  }

}
.search{
  margin-left: 100px;
  margin-right: 100px;
}
.grid-container{
  column-count: 3;
  margin-top:200px;
  margin-left: 300px;
  margin-right: auto;

}
.grid-item4{
  margin-top:100px;
}
